PORT=4000
JWT_SECRET=change_this_super_secret
REDIS_URL=redis://redis:6379
CORS_ORIGIN=http://localhost:5173
AUTH_SERVICE_URL=http://auth-service:5001
EMPLOYEE_SERVICE_URL=http://employee-service:5002
ATTENDANCE_SERVICE_URL=http://attendance-service:5003
NOTIFICATION_SERVICE_URL=http://notification-service:5004
