PORT=5002
MONGO_URI=mongodb://mongo:27017/hrms_employee
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=redis://redis:6379



 CLOUDINARY_CLOUD_NAME=dyfjxusic
 CLOUDINARY_API_KEY=973385435347991
 CLOUDINARY_API_SECRET=M2yWTc3OFKzO7Zt3pFRIiCgUhkw
 MAX_FILE_SIZE_MB=10