PORT=5001
MONGO_URI=mongodb://mongo:27017/hrms_auth
JWT_SECRET=change_this_super_secret
JWT_EXPIRES_IN=8h
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
